# Binaries
/syncgen
syncgen.exe
dist/

# Generated output
generated/

# Go specific
*.mod.sum
vendor/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db

# Logs
*.log

# Test output
coverage.out

ha-syncgen
docs/node_modules/*
docs/dist/*
docs/.next/*

# Terraform
terraform.tfvars
.terraform.lock.hcl
terraform-provider-aws_v5.100.0_x5
.terraform/*
terraform.tfstate
terraform.tfstate.backup
devenv/aws/config.yaml
LICENSE.txt