version: '3.8'
services:
  postgres:
    image: postgres:14
    environment:
      POSTGRES_DB: {{.DbName}}
      POSTGRES_USER: {{.DbUser}}
      POSTGRES_PASSWORD: {{.DbPassword}}
    volumes:
      - ./init-scripts:/docker-entrypoint-initdb.d/
      - postgres_data:{{.Datadirectory}}
    ports:
      - "5432:5432"
    command: |
      postgres
      -c hot_standby={{.HotStandby}}
    restart: unless-stopped

volumes:
  postgres_data:
