echo '--- SETTING UP PRIMARY ----'
echo 'Setting up primary at {{ .Primary.Host }}'
ssh -tt -i '{{ $.SSHKeyPath }}' {{ $.SSHUser }}@{{ .Primary.Host }} 'cd syncgen && sudo bash ./setup_primary.sh'
echo '--- SETTING UP REPLICAS ---'
{{- range .Replicas }}
echo 'Setting up replica at {{ .Host }}'
ssh -tt -i '{{ $.SSHKeyPath }}' {{ $.SSHUser }}@{{ .Host }} 'cd syncgen && sudo bash ./setup_replication.sh'
{{- end }}
echo '--- SETUP COMPLETE ---'
